html, body {
    height: 100%;
    background-color: black;
}
.container-fluid {
    padding-top: 15%;
}
body,
#search-field,
#hide{
    font:inherit;
    margin:0;
    padding:0;
}
#search-field{
    border:none;
    min-width:10px;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 2px;
    background-color: gray;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#hide{
    display:none;
    white-space:pre;
}
