html, body {
    height: 100%;
}
.container {
    padding-top: 20%;
}
body,
#search-field,
#hide{
    font:inherit;
    margin:0;
    padding:0;
}
#search-field{
    border:none;
    color:#888;
    min-width:10px;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 2px;
}
#hide{
    display:none;
    white-space:pre;
}
body{
    background-image=url("https://source.unsplash.com/random/");
}
